@media only screen and (max-width: 999px){
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*Eerste gele kolom met button*/
    .item1{
        width: 100%;
        height: 120px;
        background-color: rgb(255, 220, 65);
    }
    .dropdown {
        overflow: hidden;
    }
    .dropbtn .fas{
        font-size: 90px;
    }
    .dropdown .dropbtn { 
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        display: block;
        text-align: left;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        cursor: pointer;
    }
    .item1 .dropdown .dropbtn .dropdown-content .fas{
        font-size: 10px;
    }

    /*2e witte kolom met button en logo*/
    .item2{
        width: 100%;
        height: 150px;  
    }
    .item2 .dropdown .dropbtn .fas{
        color: grey;
    }

    .mySlides{
        width: 100%;
        display: none;
    }
    /*Auto icoon en proefles*/
    .item4{
        padding-top: 30px;
        padding-left: 10%;
    }
    .fas {
        font-size: 50px;
    }
    .title{
        font-size: 50px;
    }

    /*text bij proefles*/
    .item6 p{
        padding: 30px 80px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #111;
        line-height: 30px;
    }

    .button1{
        text-align: center;
        width: 70%;
        height: 80px;
        margin-left: 10%;
        border: none;
        background-color: rgb(255, 189, 65);
        font-size: 50px;  
    }

    .item7{
        padding-top: 50px;
        padding-left: 10%;
    }

    .item9 p{
        padding: 30px 80px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #111;
        line-height: 30px;
    }

    .item10{
        padding-top: 50px;
        padding-left: 10%;
    }

    .item12 p{
        padding: 30px 80px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #111;
        line-height: 30px;
    }

    .video{
        width: 100%;
        height: 500px;
    }
}


@media only screen and (min-width: 1000px){
    .item1{
        height: 30px;
        background-color:  rgb(255, 220, 65);
    }

    .item2{
        height: 130px;
    }
    .dropdown {
        display: none;
    }
    .dropbtn .fas{
        display: none;
    }
    .dropdown .dropbtn { 
        display: none;
    }
    .dropdown-content a {
        display: none;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown:hover .dropdown-content {
        display: none;
    }
    .item1 .dropdown .dropbtn .dropdown-content .fas{
        display: none;
    }

    .mySlides{
        
        display: none;
    }

}